/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/public/.htaccess
/public/robots.txt
/public/.htaccess-old
/public/dema.php
/public/ror.xml
/public/rss.xml
/public/sitemap.html
/public/sitemap.xml
/public/sitemap_gen/
composer.lock
/config/debugbar.php